.c-1 {
    background-color: yellowgreen;
}
.Firstcolor {
    background-color: yellowgreen ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.carousel-item {
    height: 450px;
}
.col-sm-6   {
        padding-top: 20px;
        background-color: yellowgreen;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;

}

.uch {
    background-color: yellowgreen;
    text-align: center;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
}

.car {
    margin-top: 30px;
    height: 100px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 100px;
    background-color: whitesmoke;
}
.card {
        margin-top: 30px;
        height: 300px;
        width: 300px;
        margin-left: 100px;
}

.last {
    margin-top: 10px;
    height: 70px;
    width: 100%;
    background-color: black;

}
.text1 {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
} 
